@{
    ViewBag.Title = "About";
}
<head>
    <style>
        .parrafos
        {
            font-family:Segoe UI, Verdana, Helvetica, Sans-Serif; 
            text-align:justify;
            margin-left:40px;
            margin-right:40px;
        }
    </style>
    <title>Arte Género - Quienes Somos</title>
</head>

<article >
    <h2 style="font-family: Rockwell, Consolas, Courier New, Courier, monospace; margin-left:20px">Quienes Somos</h2>
    <p class="parrafos" >
        ArteGénero combina la creatividad con estilo, calidad y apego a la génesis e identidad del personaje, 
        idea o concepto a recrear.
    </p>

    <p class="parrafos">
        ArteGénero provee una atención delicada, profesional y de primera línea en temáticas tales como: 
Educación, Recreación, Marketing, Publicidad, Cultura, Folklore, Deporte, Cine, Teatro y Televisión.
    </p>

    <p class="parrafos">
        ArteGénero cumple con las normativas de seguridad, establecidas en el Dto. N°114 del Minsal, 
        además de ser amistosos y acordes al a estacionalidad del año.    
    </p>
    <p class="parrafos">
        ArteGénero cuenta con una amplia bibliografía, caracterizaciones, modelos, descripciones y 
        un área creativa para retrotraer personajes y episodios de la Historia Universal y de Chile, la Flora, 
        Fauna, Personajes de Fantasía, Clásicos y Animados, así como Étnicos, Costumbristas y Mitológicos de nuestro 
        país y del mundo en general.
    </p>
</article>

