@{
    ViewBag.Title = "Home Page";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Arte Género - Home</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="WOW Slider, Image Sliders, Photo Slider jQuery" />
	<meta name="description" content="WOWSlider created with WOW Slider, a free wizard program that helps you easily generate beautiful web slideshow" />
	<!-- Start WOWSlider.com HEAD section -->
	<link rel="stylesheet" type="text/css" href="engine1/style.css" />
	<script type="text/javascript" src="engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->
</head>
<body>
	<!-- Start WOWSlider.com BODY section -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
<li><img src="data1/images/recreativos.jpg" alt="Recreativos" title="Recreativos" id="wows1_1"/></li>
<li><img src="data1/images/y_ms!.jpg" alt="Y Más!" title="Recreativos" id="wows1_3"/></li>
<li><img src="data1/images/corporativos.jpg" alt="Corporativos" title="Corporativos" id="wows1_0"/></li>
<li><img src="data1/images/recreativos1.jpg" alt="Recreativos1" title="Y Más!" id="wows1_2"/></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#" title="Corporativos"><img src="data1/tooltips/corporativos.jpg" alt="Corporativos"/>1</a>
<a href="#" title="Recreativos"><img src="data1/tooltips/recreativos.jpg" alt="Recreativos"/>2</a>
<a href="#" title="Recreativos1"><img src="data1/tooltips/recreativos1.jpg" alt="Recreativos1"/>3</a>
<a href="#" title="Y Más!"><img src="data1/tooltips/y_ms!.jpg" alt="Y Más!"/>4</a>
</div></div>
<span class="wsl"><a href="http://wowsliderholaquetal.com">jQuery Slideshow Plugin</a> by WOWSlider.com v3.9</span> 
	<div class="ws_shadow"></div>
	</div>
	<script type="text/javascript" src="engine1/wowslider.js"></script>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->
</body>
</html>